.button {
  margin-top: 10px;
  background-color: #a6bdb5;
  padding: 4px 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 4px black;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  font-family: 'OgoweyDemo';
  transition:  background-color .3s ease;
  letter-spacing: 1.2px;


  @media (max-width: 767px){
    font-size: 12px;
  }

  &:hover {
    background-color: #8bbdaf;
  }

  &:active {
    transform: scale(0.95);
  }

  &.aqua {
    background-color: aqua;

    &:hover {
      background-color: #07d3d5;
    }

  }

  &.purple {
    background-color: mediumpurple;
    color: white;

    &:hover {
      background-color: #805fbd;
    }
  }

  &.small {
    font-size: 12px;
    padding: 2px 6px;
    margin-top: 0;

    &:not(:first-child) {
      margin-right: 0;
    }
  }

  .preloader {
    position: relative;
    left: -2px;
    max-width: 10px;
    margin-right: 5px;
  }
}