.input {
  display: none;
}

.label {
  cursor: pointer;
  background: aqua;
  box-shadow: 0 0 6px black;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  transition: all .6s ease;

  @media (max-width: 767px){
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    background: #bc16d9;
    opacity: .4;
    width: 0;
    height: 0;
    transition: all 420ms ease;
  }

  &::before {
    top: 0;
    left: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &::after {
    bottom: 0;
    right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    color: #640cba;

    &::before, &::after {
      height: 50%;
      width: 100%;
    }
  }
}