.friend {
  flex: 0 1 33.333%;
  padding: 0 5px;
  text-align: center;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 8px black;
    box-sizing: border-box;
    background: linear-gradient(to right, #795ab3 0%, #9370db 10%, #9370db 90%, #795ab3 100%);
    &:hover{
      background: linear-gradient(to right, #624a93 0%, #8362c4 10%, #8362c4 90%, #624a93 100%);
    }
  }

  &__avatar {
    width: 36px;
    height: 36px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  &__name {
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 14px;
  }
}
