.paginator{
  padding-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  button{
    margin: 0 6px;
  }
  span{
    margin: 0 4px;
  }
}
.button{
  display: flex;
  align-items: center;
}