.sidebar {
  padding: 20px;
  flex: 0 1 260px;
  background: linear-gradient(to bottom, #2a280e 10%, #0e94d2 70%, #1bc1c7 100%);
  box-shadow: 0 0 10px black;
  z-index: 14;
  @media (max-width: 767px){
    padding: 8px;
  }
}

.nav {
  font-family: 'Smeshariki';
  &__btn {
    &.active {
      font-weight: bold;
      text-shadow: 3px 3px 0 black;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;

  }
}


