
.profile {
  &__info {
    display: flex;
    margin-top: 30px;

    p {
      margin: 0;
      display: inline;
    }

    a {
      text-decoration: none;
      color: blue;

      &:hover {
        color: #595dcb;
        text-shadow: 1px 1px 0 #595dcb;
      }
    }
  }

  &__avatar {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 140px;
    max-height: 140px;
    float: left;
  }

  &__name {
    font-family: 'HistoriaDemo';
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 36px;
    margin-top: -6px;
    text-transform: uppercase;
  }

  &__status {
    cursor: pointer;

    &-input {
      border-radius: 4px;
      outline: none;
      padding: 4px 5px;
      &:focus {
        outline: none;
        box-shadow: 0 0 2px black;
      }
    }
  }

}