
.dialog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #255967;
  box-shadow: 0 0 4px black;

  &:not(:first-child) {
    margin-top: 20px;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      font-weight: bold;
      text-shadow: 3px 3px 0 black;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  button {
    margin-top: 0;

  }
}
