.post {
  padding: 15px 20px;
  border: 1px solid white;
  margin-top: 10px;

  @media (max-width: 767px){
    padding: 8px;
  }

  &__image {
    margin-right: 15px;

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  &__message {
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    word-break: break-all;

    p {
      margin: 0
    }
  }

  &__likes-count {
    color: white;
    margin-top: 5px;

    span {
      margin-right: 10px;
    }
  }

  &__likes-btn {
    img {
      max-width: 13px;
    }
  }
}