//fonts
@font-face {
  font-family: 'HistoriaDemo';
  src: url('./assets/fonts/HistoriaDemo-Regular.woff2') format('woff2'),
  url('./assets/fonts/HistoriaDemo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Smeshariki';
  src: url('./assets/fonts/Smeshariki2007Fixed-Regular.woff2') format('woff2'),
  url('./assets/fonts/Smeshariki2007Fixed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OgoweyDemo';
  src: url('./assets/fonts/OgoweyDemoRegular.woff2') format('woff2'),
  url('./assets/fonts/OgoweyDemoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// default
*, *::before, *::after {
  box-sizing: border-box;

}

body, html {
  box-sizing: border-box;
  font-family: cursive;
}

// app
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-grow: 1;
}

.main-screen {
  padding: 20px;
  flex: 0 1 75%;
  flex-grow: 1;
  background-color: #d5d5d5;
  background: linear-gradient(90deg, #1bc1c7 10%, #0e94d2 70%, #1bc1c7 100%);
  @media (max-width: 767px) {
    padding: 10px;
  }
}

