.message {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  background-color: gray;
  max-width: 85%;


  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent gray transparent;
  }

  &.opponent {
    margin-left: auto;

    &::before {
      right: -6px;
      left: auto;
      border-width: 10px 0 0 10px;

      border-color: transparent transparent transparent gray;

    }
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  &__text {
    color: white;
    font-size: 14px;
    line-height: 16px;
    word-break: break-all;
  }

  button {
    margin-top: 10px;
    align-self: flex-end;
    background-color: #a6bdb5;
    padding: 4px 8px;
    border: none;
    outline: none;
    box-shadow: 0 0 4px black;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    font-size: 10px;

    &:hover {
      background-color: #8bbdaf;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}