.nav {
  padding: 20px;
  flex: 0 1 25%;
  box-shadow: 1px 1px 4px black;
  background-color: #728980;
  flex-grow: 1;

  &__btn {
    &.active{
      font-weight: bold;
     text-shadow: 3px 3px 0px black;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;

  }
}
